.menu__foreground {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 520px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .menu__foreground {
        width: 100%;
    }
}