.slide__title {
    font-weight: normal;
    font-size: 22px;
    line-height: calc(26.63 / 22);
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 70px;
    border-bottom: 1px solid black;
    min-height: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .slide__title {
        min-height: calc(27px + 23px);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .slide__title {
        min-height: calc(22px + 28px);
        font-size: 18px;
        line-height: calc(21.78 / 18);
        margin-bottom: 60px;
    }
}