.profile__form {
    margin-bottom: 16px;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile__form {
        width: 410px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__form {
        width: 300px;
    }
}