.about-me__portfolio-title {
    margin: 0;
    margin-bottom: 50px;
    color: #A0A0A0;
    font-weight: normal;
    font-size: 18px;
    line-height: calc(20 / 18);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .about-me__portfolio-title {
        font-size: 14px;
        line-height: calc(20 / 14);
        width: 292px;
        display: block;
        margin: 0 auto 40px;
    }
}