.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .about-me__photo {
        width: 292px;
        height: 352px;
    }
}