.profile__button {
    background-color: transparent;
    width: 410;
    height: 16px;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: normal;
    font-size: 13px;
    line-height: calc(15.73 / 13);
    transition: color 0.3s ease-in-out;
}

.profile__button:disabled {
    cursor: default;
    color: grey;
}