.column {
    width: 550px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .column {
        width: 319px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .column {
        min-width: 284px;
        max-width: 100%;
    }
}